
.container {
    width: 90%;
    margin: auto;
}
li {
    list-style: none;
}

.title {
    text-align: center;
}

h2 {
    display: inline-block;
}

.apt-container {
    display: flex;
    /* margin: 10%; */
    gap: 1.5em;
}

.apt-card {
    /* border: solid black; */
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.473);
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 35px 25px;
    /* border: solid black; */
    width: 80%;
    border-radius: 25px;
    box-sizing: border-box;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Form */

.modal-title{
    text-align: center;
}

input[type=time], input[type=date], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: vertical; */
    box-sizing: border-box;
    height: 45px;
}

label {
    padding: 12px 12px 5px 0;
    display: inline-block;
}

.col {
    /* float: left; */
    width: 95%;
    margin-top: 0;
    text-align: left;
}

.full-col {
    /* float: left; */
    width: 98%;
    margin-top: 0;
    text-align: left;
}

/* form {
    padding: 20px;
} */

.row {
    width: 50%;
    margin: auto;
}

.full-row {
    width: 90%;
    margin: auto;
}

/* .small-row {
    width: 40%;
    margin: auto;
} */

.left {
    /* float: left; */
    display: inline-block;
}

.right {
    float: right;
}

.row-container {
    width: 90%;
    margin: auto;
}