body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: rgb(213, 228, 255);
  min-height: 100vh;
  padding-bottom: 100px;
}

.page-container {
  margin: 50px;
}

.content-container {
  margin: 30px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(102, 135, 197);
  height: 16vh;
  display: grid;
  grid-template-areas: 'info info icons';
  grid-template-columns: [info] 30% [info] 40% [icons] 30%;
  box-shadow: 0 0 3px 0 black;
}

.footer-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  justify-content: center;
}

.footer-column{
  display: flex;
  align-items: center;
}

.footer-column p {
  margin: 0;
}

.icon-container {
  grid-area: icons;
  position: relative;
  right: 5%;
  align-self: center;
}

.location {
  height: 20px;
}

.phone {
  height: 14px;
  margin-right: 5px;
}

.clock {
  height: 17px;
  margin-right: 5px;
}

.icon {
  height: 30px;
  float: right;
}

.card-button {
  border: none;
  /* background-color: rgb(73, 96, 139); */
  background-color: rgb(102, 135, 197);
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.473);
}

.card-button:hover {
  background-color: rgb(73, 96, 139);
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: rgb(252, 216, 222);
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.473);
  /* float: right; */
  /* right: 5px; */
}

.delete-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.new {
  margin-left: 15%;
}
.edit {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.button-container {
  padding: 10px;
  margin: 1% auto;
  width: 90%;
  clear: both;
  overflow: auto;
}

.button-container .card-button {
  float: right;
}

.button-container .delete-button{
  float: left;
}

/* Login/Signup */

.login-form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.login-form label {
  display: block;
  padding: 12px 0px;
}

.danger{
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 0px 12px;
  width: 50%;
  margin: auto;
  display: none;
}

@media (max-width: 768px) {
  p {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .page-container {
    margin: 50px 0;
  }

  .new {
    margin-left: 5%;
  }
}